<app-menu-usuarios></app-menu-usuarios>
<div class="contenedor">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" (click)="arboles=true"><i class="fas fa-tree"></i> Árboles</button>
    <button type="button" class="btn btn-outline-success" (click)="arboles=false"><i class="fas fa-list-ul"></i> Anotaciones</button>
  </div>
  <div *ngIf="arboles; else mostrarAnotaciones">
    <div class="titulo">MIS ÁRBOLES</div>
    <div class="d-flex justify-content-center mt-10" *ngIf="!terminado; else mostrarResultado"> 
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span> <!--Mientras se recuperan todos los datos-->
      </div>
    </div>

    <ng-template #mostrarResultado>
      <div class="alert alert-danger ml-5 mr-5 mt-1" role="alert" *ngIf="error">
        <i class="fas fa-exclamation-circle"></i>
          Ha habido un error al intentar cargar tus árboles. Por favor, inténtelo de nuevo más tarde
      </div>
      <div class="d-flex justify-content-center flex-fill" *ngIf="!existen; else listar">
        <div class="alert alert-primary text-center  ml-5 mr-5 mt-1"  style="max-width: 600px;" role="alert" >
          ¡Aún no has creado ningún árbol!<br>
          Ve a <a [routerLink]="['/nuevo_arbol']" class="text-decoration-none"><i class="fas fa-edit"></i> crear nuevo árbol</a>
        </div>
      </div>
      <ng-template #listar>
        <app-milista [trees]="trees"></app-milista>
      </ng-template>
    </ng-template>
  </div>
  <ng-template #mostrarAnotaciones>
    <div class="titulo">MIS ANOTACIONES</div>
    <div class="d-flex justify-content-center mt-10" *ngIf="!terminado_anot; else listAnnot">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span> <!--Mientras se recuperan todos los datos-->
      </div>
    </div>
    <ng-template #listAnnot>
      <div class="alert alert-danger ml-5 mr-5 mt-1" role="alert" *ngIf="error_anot">
        <i class="fas fa-exclamation-circle"></i>
          Ha habido un error al intentar cargar tus anotaciones. Por favor, inténtelo de nuevo más tarde
      </div>

      <div class="d-flex justify-content-center flex-fill" *ngIf="!existen_anot; else listarAnot">
        <div class="alert alert-primary text-center  ml-5 mr-5 mt-1"  style="max-width: 600px;" role="alert" >
          ¡Aún no tienes ninguna anotación en tu lista!<br>
        </div>
      </div>
      <ng-template #listarAnot>
        <app-milista-annot [annot]="annotations"></app-milista-annot>
      </ng-template>    
    </ng-template>
  </ng-template>
  

  
</div>
