a{
    color: white;
    text-decoration: none;
}
.container{
    display: block;
    margin-bottom: 30px;
}
.formulario{
    text-align: center;
    margin-bottom: 60px;
}
.titulo{
    font-size: 45px;
    text-align: center;
}
.nueva{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.recopilacion{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.anot_nueva{
    background: rgba(37, 34, 214, 0.15);
    width: 85%;
    margin: 10px;
    padding: 2vh 4vw;
    border-radius: 5px;
}

.entrada{
    font-size: 3vh;
}
.botones{
    display: flex;
    flex-flow: nowrap;
    text-align: center;
    justify-content: center;
}
.boton{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .aviso{
    width: 80%;
    text-align: center;
    margin: auto;
}

.image{
    margin-top: 5px;
    margin: 1px;
    height: 30vh;
    width: auto;
}
.image2{
    display:block;
    margin:auto;
    height: 25vh;
    width: auto;
}