<app-menu-usuarios></app-menu-usuarios>
<div class="container">
    <div [hidden]="confirmacion">
    <div class="titulo">NUEVO ÁRBOL</div>
    <!-- Controlo que se hayan cargado todas las especies en el sistema -->
    <div class="d-flex justify-content-center mt-10" *ngIf="!terminado; else mostrarResultado"> 
        <div class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span> <!--Mientras se recuperan todos los datos-->
        </div>
      </div>
  
    <ng-template #mostrarResultado>
    <div [hidden]="submitted">
        <form class="formulario" (ngSubmit)="onSubmit()" #ArbolForm="ngForm">
            <div class="d-flex justify-content-around flex-wrap">
                <div class="card border-success m-3 flex-fill" style="max-width: 100rem;">
                    <div class="card-header"><i class="fas fa-check-circle"></i> Campos obligatorios</div>
                    <div class="form-group p-3">
                        <label class="entrada" for="ubicacion"><i class="fas fa-map-marker-alt"></i> Ubicación </label>
                        <input type="number" class="form-control m-1" id="lat" placeholder="Latitud" required 
                                [(ngModel)]="lat" name="lat"> 
                        <input type="number" class="form-control m-1" id="long" placeholder="Longitud" required
                                [(ngModel)]="long" name="long">
                    </div>
                </div>

                <div class="card border-success m-3 flex-fill" style="max-width: 100rem;" >
                    <div class="card-header"><i class="far fa-check-circle"></i> Más información</div>
                        <div class="form-group p-3">
                            <label class="entrada" for="especie"><i class="fab fa-pagelines"></i> Especie:</label>
                            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="especie" name="especie" *ngIf="!error; else mostrarError">
                                <option  [value]="item" *ngFor="let item of ESPECIES">{{item}}</option>
                            </select>
                            <ng-template #mostrarError>
                                <div class="alert alert-danger" role="alert">
                                    Las especies no están disponibles en estos momentos.
                                </div>
                            </ng-template>
                        </div>    
                </div>
                
            </div>
            
            <div class="d-flex justify-content-around flex-wrap">
                <div class="card border-success m-3 flex-fill" style="max-width: 100rem;">
                    <div class="card-header"><i class="far fa-check-circle"></i> Más información</div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <div class="form-group p-3">
                            <label class="entrada" for="imagen"><i class="fas fa-camera"></i> Insertar imagen </label>
                            <input type="file" class="form-control" [(ngModel)]="imagen" name="imagen" (change)="selectFile($event)">
                            <span class="badge badge-warning">La imagen no puede superar los 10 MB</span> <br>

                            <div class="d-flex flex-column align-items-center mt-3">
                                <div class="form-inline">
                                    <label class="entrada"> Título:  </label>
                                    <input type="text" class="form-control m-1 ml-5" id="title" placeholder="título de la foto"  
                                    [(ngModel)]="title" name="title">
                                </div>
                                <div class="form-inline">
                                    <label class="entrada"> Descripción: </label>
                                    <input type="text" class="form-control m-1 ml-1" id="description" placeholder="..."  
                                        [(ngModel)]="description" name="description">
                                </div>
                                <div class="form-inline">
                                    <label class="entrada"> Parte:   </label>
                                    <select class="custom-select ml-5" id="inputGroupSelect01" [(ngModel)]="depicts" name="depicts" >
                                        <option  [value]="item" *ngFor="let item of PARTES">{{item}}</option>
                                    </select>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group p-3">
                            <img class="image" [src]="imageSrc || imageSrc_default" alt="your image" />
                        </div>

                    </div>                  
                </div>
                
                <!--
                <div class="card border-success m-3 flex-fill" style="max-width: 100rem;">
                    <div class="card-header"><i class="far fa-check-circle"></i> Más información</div>
                    <div class="form-group p-3">
                        <label class="entrada" for="hoja"><i class="fas fa-leaf"></i> Tipo de hoja:</label>
                        <input type="text" disabled class="form-control" id="hoja" placeholder="No disponible"
                            [(ngModel)]="hoja" name="hoja" pattern="(^[a-zA-Z\sñÁÉÍÓÚáéíóú]+$)">
                    </div>
                </div>
                <div class="card border-success m-3 flex-fill" style="max-width: 100rem;">
                    <div class="card-header"><i class="far fa-check-circle"></i> Más información</div>
                    <div class="form-group p-3">
                        <label class="entrada" for="fruto"><i class="fas fa-apple-alt"></i> Tipo de fruto:</label>
                        <input type="text"  disabled class="form-control" id="fruto" placeholder="No disponible"
                            [(ngModel)]="fruto" name="fruto" pattern="(^[a-zA-Z\sñÁÉÍÓÚáéíóú]+$)">
                    </div>
                </div>
                -->
            </div>

            <div class="botones">
                <div class="boton">
                    <button type="button" class="btn btn-danger" (click)="borrarDatos()"><i class="far fa-times-circle"></i> Borrar todo </button>
                </div>
                <div class="boton">
                    <button type="submit" class="btn btn-success" [disabled]="!ArbolForm.form.valid">Siguiente</button>   <!--aquí se va a confirm-->
                </div>
            </div>
        </form>
    </div>
</ng-template>

<!-- confirm-->
<div class="recopilacion" [hidden]="!submitted">
    <div class="card border-primary mb-3" style="max-width: 70rem;">
        <div class="card-header"><i class="fas fa-arrow-right"></i>Se va a crear el siguiente árbol en el sistema:</div>
        <div class="p-4">
            <p [hidden]="!especie"><i class="fab fa-pagelines"></i> Especie: {{especie}}</p>
            <p><i class="fas fa-map-marker-alt"></i> Latitud: {{lat}} </p>
            <p><i class="fas fa-map-marker-alt"></i> Longitud: {{long}}</p>
            <img class="image2" [src]="imageSrc" [hidden]="!imagen" alt="your image" />
            <!--<p [hidden]="!hoja"><i class="fab fa-pagelines"></i> Tipo de hoja: {{hoja}}</p>
            <p [hidden]="!fruto"><i class="fas fa-apple-alt"></i> Tipo de fruto: {{fruto}}</p>-->
            <br>
            <p><i class="fas fa-clock"></i> Fecha de creación: {{fecha}}</p>
        </div>
 </div>
    
    <form (ngSubmit)="onSubmit2()">
        <div class="botones">
            <div class="boton">
                <button type="button" class="btn btn-primary" (click)="volver()"><i class="fas fa-chevron-left"></i> Volver</button>
            </div>
            <div class="boton">
                <button type="submit" class="btn btn-success" (click)="createTree()"><i class="fas fa-check"></i> Confirmar</button>
            </div>
            <div class="boton">
                <button type="button" class="btn btn-danger" (click)="borrarDatos()"><i class="far fa-trash-alt"></i> Cancelar</button>
            </div>
        </div>
        </form>
  </div>
</div>

<div [hidden]="!confirmacion">
    <div class="d-flex justify-content-center mt-10" *ngIf="!terminado2; else result">
        <div class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
    <ng-template #result>
        <div class="aviso" *ngIf="error2; else mostrarConfirm">
            <div class="alert alert-danger" role="alert">
                <i class="far fa-frown"></i> {{mensajeError}} <i class="far fa-frown"></i>
                <br> Inténtelo de nuevo más tarde
            </div>
        </div>
    
        <ng-template #mostrarConfirm>
            <div class="aviso">
                <div class="alert alert-warning" role="alert">
                  ¡El árbol se ha registrado correctamente en el sistema!
                </div>
            </div>
            <!-- <app-info-anotacion [arbol]="arbol"></app-info-anotacion>-->
        </ng-template>
           <div class="botones">
                <div class="boton">
                    <button type="button" class="btn btn-primary"> <a [routerLink]="['/mis_anot']">Ver mis anotaciones</a></button>
                </div>
                <div class="boton">
                    <button type="submit" class="btn btn-success" (click)="borrarDatos()"><i class="fas fa-check"></i> Crear nuevo árbol</button>
                </div>
            </div>
    </ng-template>
    </div>
</div>
