.anotaciones{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    justify-content: space-between;
}
.imagenes{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}