<app-menu></app-menu>
<div class="contenedor">
    <h1 class="text-success m-5 text-center font-weight-bold">¡Bienvenido a Timber!</h1>

    <div class="m-4">
        <p class="text-secondary font-weight-bold"> <i class="fas fa-question-circle"></i>  ¿Qué es Timber?</p>
        <p class="text-secondary"> Timber es una aplicación destinada a la anotación social de árboles basada en web semántica. Los datos publicados en ella forman parte del conjunto de Datos Abiertos Enlazados.</p>

        <p class="text-secondary font-weight-bold"> <i class="fas fa-info-circle"></i>  ¿Quiénes somos?</p>
        <p class="text-secondary"> El proyecto surge dentro del grupo de investigación GSIC-EMIC (Grupo de Sistemas Inteligentes y Cooperativos - Educación, Medios, Informática y Cultura) de la Universidad de Valladolid.

        <p class="text-secondary font-weight-bold"> <i class="fas fa-envelope"></i>  ¡Consúltanos cualquier problema!:</p>
        <p class="text-secondary ml-2"><i class="fas fa-at"></i> Jimena Andrade Hoz: jimena.andrade@hotmail.com</p>
        <p class="text-secondary ml-2"><i class="fas fa-at"></i> Cristina Mayo Sarmiento: cmayo@gsic.uva.es</p>


        <p class="text-secondary"> <i class="fas fa-angle-double-right"></i> Puede consultar nuestra documentación en
        el repositorio de <a href ="https://github.com/gsic-emic/SocialTreeAnnotation" target="_blank"> github </a> </p>
    </div>
    
</div>
