<div [hidden]="submitted">
<div class="d-flex flex-wrap justify-content-center p-2 mr-1 ml-1">
    <div class="card mr-1 mb-3" style="max-width: 520px;" *ngFor="let tree of trees; index as i">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{tree.image}}" class="card-img" alt="imagen de un pino">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{tree.species}}</h1>
            <h5 class="card-subtitle"><i class="far fa-user"></i> Creador: <small class="text-muted"> {{tree.creator}}</small></h5>
            <p class="card-text"> <i class="fas fa-map-marker-alt"></i> [{{tree.lat}},  {{tree.long}}]</p>
            <p class="card-text"><small class="text-muted"><i class="fas fa-clock"></i>{{tree.date}}</small></p>
            <form (ngSubmit)="onSubmit()" #listaForm="ngForm">
              <button type="submit" class="btn btn-success" (click)="obtenerIdSelecionado(tree)" [disabled]="!listaForm.form.valid"><i class="far fa-chart-bar"></i> Ver más</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Paginación-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" [routerLink]="['/']" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li> <!--metiendo "active" en la clase hago que se pinte el actual-->
      <li class="page-item"><a class="page-link" [routerLink]="['/']">1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">2</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">3</a></li>
      <li class="page-item">
        <a class="page-link" [routerLink]="['/']" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <br><br>
</div>

<div [hidden]="!submitted">
  <div class="atras">
    <button class="btn btn-outline-success" (click)="submitted=false"><i class="fas fa-angle-left"></i></button>
    <div class="alert alert-warning m-1" role="alert">
      Para poder colaborar en las anotaciones necesitas estar <a [routerLink]="['/inicio_sesion']" class="alert-link">registrado</a>. 
    </div>
  </div>
  <app-info-anotacion [tree]="tree_selected" [annotations]="annotations"></app-info-anotacion>
</div>