<div class="centro">
    <h1>VALIDAR ANOTACIÓN</h1>
    <div class="alert alert-warning" role="alert" [hidden]="submitted">
        Seleccione los datos que considere correctos marcando las casillas en cada apartado
    </div>
</div>

<div class="card_container" [hidden]="submitted">
    <form class="form" (ngSubmit)="onSubmit()" #ValidationForm="ngForm">
      <div class="d-flex justify-content-center flex-wrap m-3">
        <div class="card border-success m-3" style="max-width: 20rem; min-width: 20rem;">
          <div class="card-header"><i class="fas fa-image"></i> Imagen</div>
          <div class="card-body text-success" >
              <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img  src="{{tree.image}}" class="d-block w-100" alt="imagen de un {{tree.species}}">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>{{tree.species}}</h5>
                        <p>{{tree.creator}}</p>
                      </div>
                    </div>
                    <div class="carousel-item" *ngFor="let anot of annotations;">
                      <img src="{{anot.image}}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>{{anot.specie}}</h5>
                        <p>{{anot.creator}}</p>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
          </div>
      </div>
      <div class="card border-success m-3" style="max-width: 18rem; min-width: 18rem;">
          <div class="card-header"><i class="fas fa-map-marker-alt"></i> Ubicación</div>
          <div class="card-body text-success">
              <input type="radio" [(ngModel)]="lat" name="lat" value="tree.lat"> Latitud:  {{tree.lat}}      
              <input type="radio" [(ngModel)]="long"name="long" value="tree.long"> Longitud  {{tree.long}}<br>
          </div>
          <div class="card-body" *ngFor="let anot of annotations;">
              <input type="radio" [(ngModel)]="lat" name="lat" value="{{anot.lat}}"> Latitud:  {{anot.lat}}       
              <input type="radio" [(ngModel)]="long" name="long" value="{{anot.long}}"> Longitud:  {{anot.long}}<br>
          </div>
      </div>
      <div class="card border-success m-3" style="max-width: 18rem; min-width: 18rem;">
          <div class="card-header"><i class="fab fa-pagelines"></i> Especie </div>
          <div class="card-body text-success">
              <input type="radio" [(ngModel)]="specie" name="specie" value="{{tree.species}}"> {{tree.species}}<br>
          </div>
          <div class="card-body" *ngFor="let anot of annotations;">
              <input type="radio" [(ngModel)]="specie" name="specie" value="{{anot.specie}}"> {{anot.specie}}<br>
          </div>
      </div>
      <div class="card border-success m-3" style="max-width: 18rem; min-width: 18rem;">
          <div class="card-header"><i class="fas fa-leaf"></i> Tipo de hoja </div>
          <div class="card-body" *ngFor="let anot of annotations;">
              <input type="radio" [(ngModel)]="hoja" name="hoja" value="{{anot.hoja}}" > {{anot.hoja}}<br>
          </div>
      </div>
      <div class="card border-success m-3" style="max-width: 18rem; min-width: 18rem;">
          <div class="card-header"><i class="fas fa-apple-alt"></i> Fruto </div>
          <div class="card-body" *ngFor="let anot of annotations;">
              <input type="radio" [(ngModel)]="fruto" name="fruto" value="{{anot.fruto}}"> {{anot.fruto}}<br>
          </div>
      </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-danger m-3 mb-5" (click)="reset()"><i class="far fa-times-circle"></i> Borrar selección</button>
        <button type="submit" class="btn btn-success m-3 mb-5"><i class="far fa-check-circle"></i>  Confirmar </button> 
      </div>
        
    </form>
</div>

<div [hidden]="!submitted">
<p>La valizadicón ha sido:</p>
<p>{{lat}} y {{long}}</p>
<p>{{specie}}</p>
<p>{{hoja}}</p>
<p>{{fruto}}</p>
<p>{{hoja}}</p>
</div>
