.centro{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.card_container{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 100px;
    justify-content: space-around;
}
