<div class="container">
    <h1>VALIDAR ANOTACIÓN</h1>
    <div class=" d-flex flex-row justify-content-between">
        <div class="alert alert-warning" role="alert">
            Seleccione los datos que considere correctos marcando las casillas en cada apartado
        </div>
    </div>
    <div class="formulario">
        <form class="form" (ngSubmit)="onSubmit()" #ValidationForm="ngForm">
        <div class="parte_imagen">
            <div class="nueva">
                <label class="entrada"><i class="fas fa-image"></i> Imagen</label><br>
                <div class="imagen">
                    <img  src="{{arbol.imagen}}" class="card-img" alt="imagen de un {{arbol.especie}}">
                </div>
            </div>
        </div>
        <div class="resto">
            <div class="nueva">
                <label class="entrada"><i class="fas fa-map-marker-alt"></i> Ubicación</label><br>
                <input type="radio" id="ubicacion"> {{arbol.lat}}, {{arbol.long}}<br>
                <input type="radio" id="ubicacion"> {{arbol.lat}}, -5.8<br>
            </div>
            <div class="nueva">
                <label class="entrada"><i class="fab fa-pagelines"></i> Especie </label><br>
                <input type="radio" id="especie"> {{arbol.especie}}<br>
                <input type="radio" id="especie2"> Ni idea<br>
            </div>
            <div class="nueva">
                <label class="entrada"><i class="fas fa-leaf"></i> Tipo de hoja </label><br>
                <input type="radio" id="especie"> Acicular<br>
                <input type="radio" id="especie2"> Ni idea<br>
            </div>
        </div>

        <div class="botones">
            <div class="boton">
                <button type="button" class="btn btn-warning" (click)="borrar_datos()">Borrar selección</button>
            </div>
            <div class="boton">
                <button type="submit" class="btn btn-success"> Confirmar </button>   
            </div>
        </div>
        </form>
    </div>
    
</div>
