a {
    color: black;
    text-decoration: none;
  }
a:hover {
    cursor: pointer;
    color: pink;
}
.navbar{
    background: rgba(154, 225, 243, 0.3);
}
.container{
    display: flex;
    flex-flow: row nowrap;
    margin: 1px;
    justify-content: space-between;
}
.accion{
    font-size: 0,2vw;
    text-align:center;
}
.titulo{
    font-size: 1vw;
}