<nav class="navbar">
    <div class="container">
        <div class="accion">
            <a [routerLink]="['/principal']" title="Inicio"><i class="fas fa-home"></i></a>
        </div>
        <div class="accion">
            <a [routerLink]="['/nueva_anotacion']" title="Nueva Anotación"><i class="fas fa-edit"></i></a>
        </div>
        <div class="accion">
            <a [routerLink]="['/mis_anot']" title="Mis anotaciones"><i class="fas fa-list"></i></a>
        </div>
        <div class="accion">
            <a [routerLink]="['/busqueda']" title="Búsqueda"><i class="fas fa-search"></i></a>
        </div>
        <div class="accion">
            <a [routerLink]="['/comunidad']" title="Comunidad"><i class="fas fa-users"></i></a>
        </div>
        <div class="accion">
            <a [routerLink]="['/ajustes']" title="Ajustes"><i class="fas fa-cog"></i></a>
        </div>
    </div>
</nav>
