<nav class="navbar navbar-expand-lg navbar-light bg-secondary px-5">
    <a class="navbar-brand text-white" [routerLink]="['/']"> Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!--<a class="nav-link" [routerLink]="['/buscador']">Buscador <span class="sr-only">(current)</span></a>-->
        </li>
        <li class="nav-item">
          <!--<a class="nav-link" [routerLink]="['/contacto']">Contacto</a>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"></a>
        </li>
      </ul>
      <span class="navbar-text mr-4">
        <a [routerLink]="['/registro']" class="text-white"><i class="far fa-user-circle"></i> Unirse</a>
      </span><br>
      <span class="navbar-text">
        <a [routerLink]="['/inicio_sesion']" class="text-white"><i class="fas fa-user-circle"></i> Iniciar Sesión</a>
      </span>
    </div>
  </nav>
  
