<app-menu-usuarios></app-menu-usuarios>
<div class="cerrar"><a [routerLink]="['/']">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></div>
<div class="titulo">AJUSTES</div>

<div class="container">
    <div class="card border-success mb-3" style="max-width: 50rem;">
        <div class="card-header"> <i class="fas fa-lock"></i>  Privacidad</div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header"> <i class="fas fa-user"></i>  Cuenta</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card border-warning mb-3" style="max-width: 50rem;">
        <div class="card-header"> <i class="far fa-question-circle"></i>  Ayuda</div>
        <div class="card-body text-warning">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card border-success mb-5" style="max-width: 50rem;">
        <div class="card-header"> <i class="fas fa-info-circle"></i>  Acerca de</div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

