.contenedor{
    padding: 12px;
}
.titulo{
    font-size: 45px;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
.cerrar{
    text-align: right;
}

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
}