<app-menu-usuarios></app-menu-usuarios>
<div class="cerrar"><a [routerLink]="['/']">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></div>
<div class="titulo">AJUSTES</div>

<div class="container">
    <div class="tit-apartado"><i class="fas fa-lock"></i> Privacidad</div>
    <div class="apartado">
        dkfnvsomkc
    <br>
    jfdhafcuih
    </div>

    <div class="tit-apartado"><i class="fas fa-user"></i> Cuenta</div>
    <div class="apartado">
        
    </div>

    <div class="tit-apartado"><i class="far fa-question-circle"></i> Ayuda</div>
    <div class="apartado">
        
    </div>

    <div class="tit-apartado"><i class="fas fa-info-circle"></i> Acerca de</div>
    <div class="apartado">
        
    </div>
</div>

