a{
    text-decoration: none;
}
.contenedor{
    padding: 12px;
}
.titulo{
    font-size: 45px;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
.cerrar{
    text-align: right;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }