.contenedor{
    padding: 12px;
}
.titulo{
    font-size: 4vw;
    text-align: center;
}
.contenedor_filtros{
    display: flex;
    margin: 3px;
    padding: 1px;
    flex-flow: row wrap;
    justify-content: space-around;
}
.principal{
    margin: 3px;
}
.container{
    display: flex;
    flex-flow: column;
    align-items: center;
}
