
.titulo{
    font-size: 4vw;
    text-align: center;
}
.contenedor_filtros{
    display: block;
    margin: 3px;
    padding: 3px;
}
.btn-group{
    margin: 2px;
}
.botones{
    display: flex;
    flex-flow: nowrap;
    text-align: center;
    justify-content: center;
}
.boton{
    text-align: center;
    margin: 5px;
}
