<app-menu-usuarios></app-menu-usuarios>
<div class="titulo">BÚSQUEDA</div>
<!-- Filtros aplicables a la búsqueda -->
<div class="contenedor_filtros">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Especie
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Creador
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Todos</a>
            <a class="dropdown-item" href="#">Principiantes</a>
            <a class="dropdown-item" href="#">Expertos</a>
            <a class="dropdown-item" href="#">Intermedios</a>
        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tipo de hoja
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tipo de fruto
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ubicación
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#"></a>
        </div>
    </div>

    <div class="btn-buscar">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Búsqueda general" aria-label="Busqueda">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Burcar</button>
        </form>
    </div>
</div>

<!--AQUI PODRÍA PONER UN SPINNER CON BOOSTRAP!!!!!!!-->

<div class="d-flex flex-wrap p-2 m-1">
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let arbol of arboles;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{arbol.imagen}}" class="card-img" alt="imagen de un pino">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{arbol.especie}}</h1>
            <h5 class="card-subtitle"><i class="far fa-user"></i> Creador: <small class="text-muted"> {{arbol.creador}}</small></h5>
            <p class="card-text"> <i class="fas fa-map-marker-alt"></i> {{arbol.ubicacion}}</p>
            <p class="card-text"><small class="text-muted"><i class="fas fa-clock"></i> Creado hace {{arbol.creacion}}</small></p>
            <div class="botones">
                <a [routerLink]="['/mi_info']" class="btn btn-success"><i class="far fa-chart-bar"></i> Ver más</a>
                <a [routerLink]="['/validar']" class="btn btn-warning"><i class="far fa-check-circle"></i> Validar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
