<app-menu-usuarios></app-menu-usuarios>

<div class="container" [hidden]="submitted">
    <div class="titulo"> Añadir nueva anotación </div>
    <form class="formulario" (ngSubmit)="onSubmit()" #tipoForm="ngForm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Seleccione el tipo de anotación: </label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="type" name="type">
                <option  [value]="item" *ngFor="let item of tipo">{{item}}</option>
            </select>
        </div>
        <button type="button" class="btn btn-outline-danger m-1" (click)="cancelar()"><i class="far fa-times-circle"></i> Cancelar </button>
        <button type="submit" class="btn btn-outline-primary m-1"> Siguiente <i class="fas fa-arrow-right"></i></button>
    </form>
</div>

<div class="container" [hidden]="!submitted">
    <div [hidden]="submitted2">
        <form class="formulario"  (ngSubmit)="onSubmit2()" #AnnotForm="ngForm">
            <div class="card border-success m-3" style="max-width: 70rem;">
                <div class="card-header"><i class="fas fa-plus-circle"></i> Nueva Anotación de tipo {{type}}</div>
                <div class="nueva">
                    <!-- Diferencio el tipo de anotación que se va a crear-->

                    <!-- ANOTACIÓN DE IMAGEN -->
                    <div class="form-group p-1" *ngIf="type == 'Imagen'">
                        <div class="d-flex justify-content-around flex-wrap">
                            <div class="form-group p-3">
                                <label class="entrada" for="imagen"><i class="fas fa-camera"></i> Insertar imagen </label>
                                <input type="file" class="form-control" [(ngModel)]="imagen" name="imagen" (change)="selectFile($event)">
                                <span class="badge badge-warning">La imagen no puede superar los 10 MB</span> <br>
    
                                <div class="d-flex flex-column align-items-center mt-3">
                                    <div class="form-inline">
                                        <label class="entrada"> Título:  </label>
                                        <input type="text" class="form-control m-1 ml-5" id="title" placeholder="título de la foto"  
                                        [(ngModel)]="title" name="title">
                                    </div>
                                    <div class="form-inline">
                                        <label class="entrada"> Descripción: </label>
                                        <input type="text" class="form-control m-1 ml-1" id="description" placeholder="..."  
                                            [(ngModel)]="description" name="description">
                                    </div>
                                    <div class="form-inline">
                                        <label class="entrada"> Parte:   </label>
                                        <select class="custom-select ml-5" id="inputGroupSelect01" [(ngModel)]="depicts" name="depicts" >
                                            <option  [value]="item" *ngFor="let item of PARTES">{{item}}</option>
                                        </select>
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group p-3">
                                <img class="image" [src]="imageSrc || imageSrc_default" alt="your image" />
                            </div>
    
                        </div>
                    </div>

                    <!-- ANOTACIÓN DE POSICIÓN -->
                    <div class="form-group" *ngIf="type == 'Ubicación'">
                        <label class="entrada" for="ubicacion"><i class="fas fa-map-marker-alt"></i> Ubicación </label>
                        <input type="number" class="form-control" id="lat" placeholder="Latitud" [(ngModel)]="lat" name="lat" required> 
                        <input type="number" class="form-control" id="long" placeholder="Longitud" [(ngModel)]="long" name="long" required>
                    </div>
                    <!-- ANOTACIÓN DE ESPECIE -->
                    <div class="form-group" *ngIf="type == 'Especie'">
                        <label class="entrada" for="especie"><i class="fab fa-pagelines"></i> Especie:</label>
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="especie" name="especie">
                            <option  [value]="item" *ngFor="let item of ESPECIES">{{item}}</option>
                        </select>
                    </div>
                </div>
          </div>
          <button type="button" class="btn btn-outline-danger ml-3 mr-3" (click)="volver()"><i class="far fa-times-circle"></i> Cancelar </button>
          <button type="button" class="btn btn-outline-warning mr-3" (click)="borrarDatos()"><i class="far fa-times-circle"></i> Borar </button>
          <button type="submit" class="btn btn-success" [disabled]="!AnnotForm.form.valid"><i class="fas fa-plus-circle"></i> Crear</button>   
        </form>
    </div>
</div>
<div class="container" [hidden]="!submitted2">
    <div class="d-flex justify-content-center mt-10" *ngIf="!terminado; else result">
        <div class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

    <ng-template #result>
        <div class="aviso" *ngIf="errorCreacion; else mostrarConfirm">
            <div class="alert alert-danger" role="alert">
                <i class="far fa-frown"></i> {{mensajeError}} <i class="far fa-frown"></i>
                <br> Inténtelo de nuevo más tarde
            </div>
        </div>
    
        <ng-template #mostrarConfirm>
            <div class="aviso">
                <div class="alert alert-warning" role="alert">
                    ¡La anotación se ha añadido correctamente!
                </div>
                <!-- Se muestra la info de la anotación creada-->
                <div class="card border-success m-3 flex-fill" style="max-width: 18rem;">
                    <div class="card-header"><i class="far fa-user"></i> {{username}} </div>
                    <!-- Distingo el tipo de anotación para mostrarlo de una manera u otra-->
                      <div class="card-body text-success">
                        <div class="tipo_anot" *ngIf="isImage">
                          <p class="card-text"><small class="text-muted">Has añadido una anotación de tipo imagen: </small></p>
                        </div>
                        <div class="tipo_anot" *ngIf="isSpecie">
                          <p class="card-text"><small class="text-muted">Has añadido una anotación de tipo especie: </small></p>
                          <h5 class="card-title"><i class="fab fa-pagelines"></i> {{especie}}</h5>
                        </div>
                        <div class="tipo_anot" *ngIf="isLocation">
                          <p class="card-text"><small class="text-muted">Has añadido una anotación de tipo ubicación: </small></p>
                          <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> [{{lat}}, {{long}}]</h5>
                        </div>
                        <p class="card-text"><small class="text-muted"><i class="fas fa-clock"></i> Creación: {{date}}</small></p>
                      </div>
                  </div>
            </div>
        </ng-template>

           
        <div class="d-flex flex-nowrap justify-content-center ">
            <div class="mt-15 ml-15">
                <button type="submit" class="btn btn-success text-center mr-2"> <a [routerLink]="['/mis_anot']"> Ver mis anotaciones </a></button>
                <button type="submit" class="btn btn-primary text-center mr-2" ><a [routerLink]="['/busqueda']"><i class="fas fa-search"></i> Búsqueda</a></button>
                <button type="submit" class="btn btn-warning text-center " ><a [routerLink]="['/mapa']"><i class="fas fa-map"></i> Ir al mapa</a></button>
            </div>
        </div>
    </ng-template>

</div>

