<app-menu></app-menu>

<div class="contenedor">
  <div class="alert alert-danger ml-5 mr-5 mt-1" role="alert" *ngIf="errorConexion; else hayConex">
    <i class="fas fa-exclamation-circle"></i>
    Parece que tenemos problemas con el servidor. Por favor, inténtelo de nuevo más tarde
  </div>
  <ng-template #hayConex>
    <!--Código para que se muestre el mapa-->
    <div class="d-flex justify-content-center mt-10" *ngIf="!terminado_species; else mostrarResultado">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <ng-template #mostrarResultado>
      <div class="alert alert-danger ml-5 mr-5 mt-1" role="alert" *ngIf="error">
        <i class="fas fa-exclamation-circle"></i>
        Ha habido un error al cargar las especies del sistema. Por favor, inténtelo de nuevo más tarde
      </div>
      <app-mapa-lista [objSpecies]="objSpecies"></app-mapa-lista>
    </ng-template>
  </ng-template>
  
</div>

