a{
    color: white;
}
.container{
    display: block;
    padding: 5px;
}
.titulo{
    font-size: 40px;
    text-align: center;
}
.anotaciones{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
    justify-content: space-between;
}