<app-menu-usuarios></app-menu-usuarios>
<div class="contenedor">
    <div class="cerrar"><a [routerLink]="['/']">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></div>
    <div class="bienvenida">
        <div class="bv-1">¡Bienvenido de nuevo!</div>
        <div class="bv-2">Tu nivel actual es:<br> <i class="fas fa-medal"></i></div>
        <div class="bv-3">PRINCIPIANTE: 20 puntos</div>
    </div>

    <!--
    <div class="hueco_mapa">
        <h1>Novedades cerca de tí</h1>
        <app-mapa [trees]="trees"></app-mapa>
    </div>-->
</div>
